.custom-font {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
}

.custom-font1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}
/*menu 폴더 내에 웹 폰트를 적용하기 위한 css 파일입니다*/